# Scraper Development

This notebook shows examples of errors and other dev considerations for the construction or modification of the scraper.

In [42]:
import time 
import numpy as np 
import pandas as pd
from vcue import web 
from bs4 import BeautifulSoup

driver = web.launch_driver()

# In Japanese
driver.get('https://www.id.nlbc.go.jp/CattleSearch/search/agreement')

connected = ds.connection_check(driver)

Find the last digit given an ID

In [9]:
import random_id_generator as rig 

str(111425891)+str(rig.get_last_digit(str(111425891)))

'1114258912'

In [ ]:
soul = '1114258912'

ele = driver.find_elements_by_name('txtIDNO')[0]
ele.send_keys(str(soul))

driver.find_elements_by_name('method:doSearch')[0].click()

**Detecting the number of tables on the page will tell you if you found data relevant to the ID you entered**:

In [86]:
soup = BeautifulSoup(driver.page_source)

# Detecting "Enable Cookies" is the way to tell if the connection was cut. 
lens = [len(list(table.parents)) for table in soup.find_all('table')]
tables = [table for table in soup.find_all('table') if len(list(table.parents))==max(lens)]

## <font color=red>Error Examples in Japanese</font>

In [83]:
# Sample error with connection/cookies
tables[0].text.strip()

'要求された URL は本サーバでは見つかりませんでした。\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t    もし手入力で URL を入力した場合は、綴りを確認して再度お試し下さい。\n\n\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t\t以下のいずれかが原因として考えられます。\n\n\nCookieを有効にしてください。\nしばらくアクセスがなかったために、牛の個体識別情報検索サーバとの接続がタイムアウトになりました。再度トップページよりアクセスください。'

In [77]:
# '1114258912' - doesn't exist '入力された個体識別番号をお確かめくださいますようお願いします' 
# You have to check if the list of elements is the right size first 
soup.find_all('span', {'class':'nor'})[2].text.strip()

'個体識別番号 1114258912 に該当する牛の情報はありません。\n入力された個体識別番号をお確かめくださいますようお願いします。'

In [62]:
# example error short number, should not appear. 
# You have to check that the list of error messages is positive
soup.find_all('ul', {'class':'error_message'})[0].text.strip()

'個体識別番号は１０桁で入力してください。'

In [89]:
soup.find_all('ul', {'class':'error_message'})[0].text.strip()

'個体識別番号を入力してください。\n個体識別番号は半角数字を入力してください。'

## <font color=red> Example of Scraper Output</font>

In [21]:
dataset

     id0   id1 id2      個体識別番号      出生の年月日   雌雄の別   母牛の個体識別番号             種別
0  13852  8946   2  1385289462  2018.12.28     メス  1537209430           黒毛和種
0  15544  6059   3  1554460593  2019.09.15     メス  1407258476  交雑種（肉専用種Ｘ乳用種）
0  15909  2595   7  1590925957  2019.07.24  去勢（雄）  1514624898  交雑種（肉専用種Ｘ乳用種）
0  16028  1262   6  1602812626  2019.01.30     メス  1379128913           黒毛和種
0  16028  0814   8  1602808148  2018.10.15     メス  1379754211           黒毛和種
0  15568  7726   9  1556877269  2018.10.01     メス  1362956127           黒毛和種
0  08691  3637   7  0869136377  2019.07.25  去勢（雄）  0864318143  交雑種（肉専用種Ｘ乳用種）

In [22]:
complete_data

,,異動内容,異動年月日,都道府県,市区町村,氏名または名称,Individual Identification Number
0,1,出生,2018.12.28,鹿児島県,西之表市,橋口 一喜,1385289462
1,2,転出,2019.10.06,鹿児島県,西之表市,橋口 一喜,1385289462
2,3,搬入,2019.10.06,鹿児島県,熊毛郡中種子町,種子島家畜市場,1385289462
3,4,取引,2019.10.06,鹿児島県,熊毛郡中種子町,種子島家畜市場,1385289462
4,5,転入,2019.10.06,鹿児島県,薩摩郡さつま町,（株）髙﨑ファーム,1385289462
...,...,...,...,...,...,...,...
9,10,と畜,2021.08.20,東京都,港区,東京都立芝浦と場,1556877269
0,1,出生,2019.07.25,岩手県,岩手郡雫石町,小岩井農牧（株）,0869136377
1,2,転出,2021.08.12,岩手県,岩手郡雫石町,小岩井農牧（株）,0869136377
2,3,搬入,2021.08.12,岩手県,紫波郡紫波町,（株）いわちく,0869136377
3,4,と畜,2021.08.13,岩手県,紫波郡紫波町,（株）いわちく,0869136377

### Testing List Differences

In [17]:
import pandas as pd
import random

data = pd.read_csv('cattle.csv', dtype='O')

data['IDS'] = data['id0'].astype(str)+data['id1'].astype(str)+data['id2'].astype(str)

master_sample_ids = list(master_sample['id'].values)
scraped = random.sample(master_sample_ids,1000)

print(len(master_sample_ids))
print(len(scraped))

NameError: name 'master_sample' is not defined

In [ ]:
%%time
cleaned1 = [i for i in master_sample_ids if i not in scraped]

In [ ]:
%%time 
seta = set(master_sample_ids)
setb = set(scraped)

cleaned2 = seta.difference(setb)

In [ ]:
print(len(cleaned1))
print(len(cleaned2))

assert set(cleaned1) == cleaned2

In [18]:
type(cleaned2)

NameError: name 'cleaned2' is not defined

# DEV SPACE

Use the blocks below to develop and test new functions

In [1]:
import pandas as pd

In [14]:
pd.read_csv('complete_recovery_save0.csv', encoding='utf8')
#help(pd.read_csv)

,Unnamed: 0,Unnamed: 1,異動内容,異動年月日,都道府県,市区町村,氏名または名称,Individual Identification Number
0,0,1,出生,2018.12.28,鹿児島県,西之表市,橋口 一喜,1385289462
1,1,2,転出,2019.10.06,鹿児島県,西之表市,橋口 一喜,1385289462
2,2,3,搬入,2019.10.06,鹿児島県,熊毛郡中種子町,種子島家畜市場,1385289462
3,3,4,取引,2019.10.06,鹿児島県,熊毛郡中種子町,種子島家畜市場,1385289462
4,4,5,転入,2019.10.06,鹿児島県,薩摩郡さつま町,（株）髙﨑ファーム,1385289462
...,...,...,...,...,...,...,...,...
57,9,10,と畜,2021.08.20,東京都,港区,東京都立芝浦と場,1556877269
58,0,1,出生,2019.07.25,岩手県,岩手郡雫石町,小岩井農牧（株）,869136377
59,1,2,転出,2021.08.12,岩手県,岩手郡雫石町,小岩井農牧（株）,869136377
60,2,3,搬入,2021.08.12,岩手県,紫波郡紫波町,（株）いわちく,869136377
61,3,4,と畜,2021.08.13,岩手県,紫波郡紫波町,（株）いわちく,869136377